<header>
    <div class="conteinergrid cabeçalho" >
        <a href="index.html">
            <img src="/assets/IMG/Logo GMania.svg" alt="logo game mania">
        </a>
        <nav id="menu" class="menu">
           <a href="história.html">história</a>                
            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#">produtos</a>
             <dl class="dropdown-menu">
             <dt><a id="drop" class="dropdown-item" href="#">notebook</a></dt>
             <dt><a id="drop" class="dropdown-item" href="#">playstation</a></dt>
             <dt><a id="drop" class="dropdown-item" href="#">pc gamer</a></dt>                 
             </dl>                               
           <a href="equipe.html">equipe</a>
           <a href="contatos.html">contatos</a>
           <a id="login" style="font-size: 21px;" routerLink="/login">login</a>
        </nav>             
           <a id="bars" onclick="mostrarMenu()"  href="#"><img class="barras" src="/assets/IMG/menu-hamburguer.svg" alt="menu barras"></a>                   
    </div>
</header>
<section class="conteinergrid bannervendas">
    <div class="conteinergrid produtos">
        <div class="boxhover">
            <img  src="/assets/IMG/banner notebook.jpg" alt="imagem de notebook aberto">                    
            <div class="boxhover boxprodutos">
                <a href="#"><h2>acesse os produtos</h2></a>                    
            </div>
        </div>
        <div class="boxhover">
            <img  src="/assets/IMG/banner ps5.jpg" alt="imagem ps5">                       
            <div class="boxhover boxprodutos">
                <a href="#"><h2>acesse os produtos</h2></a>
            </div>
        </div> 
        <div class="boxhover">
            <img  src="/assets/IMG/banner pc gamer.jpg" alt="imagem de pc gamer aberto">                    
            <div class="boxhover boxprodutos">
                <a href="#"><h2>acesse os produtos</h2></a>
            </div>
        </div>          
    </div>
</section>
<section class="bannercomunica"> 
    <div class="conteudocomunica conteinergrid">
        <div class="conteinerjogo d-grid">
            <img src="/assets/IMG/logo minercraft.svg" alt="logo jogo minercraft">
            <p>Explore seus arredores e colete materiais para criar armas, armaduras, comida, ferramentas e materiais de construção. Certas regiões (como o subsolo) possuem materiais mais raros, como obsidiana e redstone, mas é preciso ter os equipamentos certos e, claro, é aconselhável ter um nível alto e bons equipamentos para sobreviver.</p>
            <button type="button" class="btn">acesse o blog</button>
        </div>
        <div class="conteinerjogo d-grid">
            <img src="/assets/IMG/logo fifa.svg" alt="logo jogo fifa">
            <p>Uma das melhores dicas que podemos dar é aprimorar as habilidades defensivas. Isso porque o FIFA 21 é um jogo muito movimentado, que aumentou as possibilidades de dribles e a velocidade em relação aos anteriores. Eliminar os espaços mantendo os defensores em posição e cobrindo erros é uma ótima forma de evitar tomar aqueles gols em que fica só seu goleiro para defender.</p>
            <button type="button" class="btn btn-block">acesse o blog</button>
        </div>
    </div>       
</section>
<footer>
    <div class="conteinergrid rodape">
        <div class="endereco">
            <p>av: dos gamers - nº 3214</p>
            <p>são paulo - sp</p>
            <p>cnpj:00.000.00/0009-00</p>
        </div>
        <div>
            <img src="/assets/IMG/Logo GMania.svg" alt="logo game mania">
        </div>
        <div class="contato">                
            <p>contato</p>
            <p>telefone: (00) 1234-1234</p>
            <p>contato@gamemania.com.br</p>
            <div class="redesocial">
                <a href="#">
                    <img src="/assets/IMG/logo telegran.svg" alt="logo telegrans">
                </a><a href="#">
                    <img src="/assets/IMG/logo watsapp.svg" alt="logo watsapp">
                </a><a href="#">
                    <img src="/assets/IMG/logo instagran.svg" alt="logo instagran">            
                </a>
            </div>
        </div>
    </div>
