<section class="conteinergrid login">
    <form class="acessar">
        <div class="conteudoacesso">               
                <label for="user">usuario:</label>
                <input type="email" name="email" id="user" placeholder="Email" required>               
            
                <label for="password">senha:</label>
                <input type="password" name="senha" id="password" required>
            
            <button id="enviar" type="submit">acessar</button>
        </div>
    </form>
</section>