<header>
    <div class="conteinergrid cabeçalho" >
        <a href="index.html">
            <img src="/assets/IMG/Logo GMania.svg" alt="logo game mania">
        </a>
        <nav id="menu" class="menu">
           <a href="história.html">história</a>                
            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#">produtos</a>
             <dl class="dropdown-menu">
             <dt><a id="drop" class="dropdown-item" href="#">notebook</a></dt>
             <dt><a id="drop" class="dropdown-item" href="#">playstation</a></dt>
             <dt><a id="drop" class="dropdown-item" href="#">pc gamer</a></dt>                 
             </dl>                               
           <a href="equipe.html">equipe</a>
           <a href="contatos.html">contatos</a>
           <a id="login" style="font-size: 21px;" routerLink="/login">login</a>
        </nav>             
           <a id="bars" onclick="mostrarMenu()"  href="#"><img class="barras" src="/assets/IMG/menu-hamburguer.svg" alt="menu barras"></a>                   
    </div>
</header>
